@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap');

html {
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: 25% min-content minmax(20%, min-content);
    grid-template-columns: 20% auto 25%;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

header {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: goldenrod;
    border-radius: 25px;
}

main {
    margin-top: 2%;
    grid-row: 2/3;
    grid-column: 1/4;
    margin-left: 5%;
}

nav {
    grid-row: 3/4;
    font-size: 1em;
}

footer {
    grid-row: 3/4;
    background-color: goldenrod;
    grid-column: 1/4;
    text-align: center;
    border-radius: 25px;
    margin-top: 6%;

}

img.photo_index {
    max-width: 100%;
}

img.photo_l2 {
  max-width: 100%;
}
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
.overlay {
    position: absolute;
    top: 17%;
    left: 65%;
    width: 30%;

  }

  header h1 {
    text-align: left;
    vertical-align: middle;
    font-size: 3.5em;
    padding-left: 10%;
    padding-top: 3%;
    font-family: 'Anton', sans-serif;

  }

.footer1 {
    font-size: 1.15em;
}

.footer2 {
    font-size: 0.8em;
}

a:visited {
    color: black;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    min-width: min-content;
    max-width: 600px;
    min-width: 400px;
    margin: 0px;
  }
  
  .box:nth-child(even) {
    background-color: #ccc;
    color: #000;
  }
  
      .wrapper {
          width: 95%;
          display: grid;
          grid-gap: 2%;
          grid-template-columns: repeat(auto-fill, minmax(400px, min-content));
          margin-bottom: 2em;
      }
  
  .with-height {
    height: 400px;
  }

  nav {
      max-height: 5%;
      margin-right: 5%;
      margin-bottom: 2%;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: goldenrod;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 2% 3%;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }