@media (max-width: 499px) {
.overlay{
    top: 10%;
    left: 65%;
    width: 30%;
}

header h1 {
    font-size: 2em;
}

body {
    display: grid;
    grid-template-rows: auto 8%  min-content  minmax(min-content, 10%);
    grid-template-columns: 5% auto 5%;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f6da79;
}
.img_icon {
    max-width: 100%;
    overflow: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    left: 0;
    max-height: 15%;
  }

header {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #659DBD;
    text-align: center;
    font-family: 'Anton', 'sans-serif';
    max-width: 100%;
    vertical-align: middle;
    
}

body h2, h3{
    font-size: 3em;
}



.banner {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 80% 20%;
  min-height: 100%;

}

main {
    grid-row: 3/4;
    grid-column: 1/4;
    max-width: 100%;
}

nav {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #FBEEC1;
    max-width: 100%;
}

footer {
    grid-row: 4/5;
    background-color: #FBEEC1;
    grid-column: 1/4;
    text-align: center;
    font-size: 1em;

}

.title {
  font-size: 3.5em;
  max-width: 100%;
  grid-column: 2/3;
  left: 0px;
  padding-top: 6%;

}

.catchphrase {
  font-size: 1em;
  max-width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  left: 0px;

}
 .footer1 {
   font-size: 0.4em;
 }
 .footer2 {
   font-size: 0.35em;
 }

 .header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
 }

 nav{
    background-color: #FBEEC1;
    position: relative;
  }
  nav button{
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
    text-align: center;
    
  }
  
  nav ul li a{
    display: block;
    color: #000;
    border-bottom: 1px solid black;
    background: #f6da79;
    padding: 0;
  }
  
  
  
  nav ul.hide{
    display: none;
  }
  
  li{
    list-style-type: none;
    margin: 0;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 90%;
    margin: 5%;

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container_card {
    padding: 2px 16px;
  }
  .hideme{
    display: none;
  }

  /* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #F8E194;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 5%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #F8E194;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content-collapse {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #F8E194;
    font-size: 1.5rem;
  }
  .content-collapse p{
    font-size: 1rem;
  }

  .invitation-container {
    border-style: solid;
    border-color: black;
    background-color: #FBEEC1;
    justify-content: center;
    margin: .5rem;
    max-width: 100%;
    text-align: center;
  }

  .container-history {
    border-style: solid;
    border-color: black;
    background-color: #F8E194;
    justify-content: center;
    margin: .5rem;
    max-width: 100%;
    text-align: center;
  }
  .container_form {
    background-color: #659DBD;
    display: block;
    padding: 5%;
    min-height: 100%;
    border-color: black;
    border-style: solid;
    max-width: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
  }
    .container_spec_serv {
      display: block;
      max-width: 100%;
      background-color: #659DBD;
      border-style: solid;
      border-color: black;
      margin-bottom: 3%;
  }
  .right li, h2{
   margin: 5%;
  }

  .container_free_amen {
    display: block;
      max-width: 100%;
      background-color: #F8E194;
      border-style: solid;
      border-color: black;
      margin-bottom: 3%;
  }
  .left li, h2{
    margin: 5%;
   }
  .container-outside-ameneties {
    display: block;
    max-width: 100%;
    background-color: #659DBD;
    border-style: solid;
    border-color: black;
    margin-bottom: 3%;
    text-align: center;
}

.container-services {
  font-size: 2em;
  max-width: 100%;
}

.container_form button{
  background-color: #f6da79;

}

.container-text-contact {
  text-align: center;
}

.container-map iframe {
  margin-left: 2%;
}
.container-services img {
  max-width: 100%;
}
.container-services h2, p{
  text-align: center;
  font-size: 1em;
}

.container-reception h3 {
  font-size: 1em;
}

.container-reception {
  border-style: solid;
  border-color: black;
  background-color: #F8E194;
  justify-content: center;
  margin: .5rem;
  max-width: 100%;
}

.form-results {
  background-color: #F8E194;
  border-color: black;
  padding: 5%;
  margin: 5%;
  border-style: solid;
}
.form-results h2{
  font-size: 1.5em;
}
.slidesow-container img {
  max-width: 100%;
}

.mySlides.fade img{
  max-width: 100%;
}
.attributions-container {
  border-style: solid;
  border-color: black;
  background-color: #FBEEC1;
  justify-content: center;
  margin: .5rem;
  max-width: 100%;
  text-align: center;
  min-height: 80%;
  padding-bottom: 70%;
}
.attributions-container li{
  margin: 5%;
}
}